body {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(1fr  , 5);
    background-color: #FFE8D6;
}
.headerContainer{
    grid-column: 1 / 6;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #CB997E;
    padding: 10px;
    border: black solid 1px;
}

header button {
    background-color: #FFE8D6;
    padding: 5px;
    border: none;
    width: 150px;
    height: 35px;
}

.button1 {
    border-radius: 20px 0 0 20px;
}

.button2 {
    border-radius: 0 20px 20px 0;
}

header button:hover {
    background-color: #ffd8bd;
}

.signUp, .login {
    border-radius: 10px;
    margin-right: 20px;
    border: black solid 1px;
}

/*calendar*/

#calendar {
    grid-column: 1 / 3;
    margin-block: 5rem;
    margin-inline: 5rem;
    font-size: 14px;
    border-radius: 8px;
    overflow: hidden;
}

table {
    border-collapse: collapse;
    width: 50%;
    border-spacing: 0;
    background-color: white;
}

th,
td {
    border: 1px solid #eee;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #CB997E;
    color: #fff;
    font-weight: normal;
}

td {
    cursor: pointer;
}

.current-day {
    background-color: #f39c12;
    color: #fff;
    border-radius: 50%;
}