@import 'reset.css';

.input {
}

.input__wrapper + .input__wrapper {
	margin-top: 1rem;
}
.input__wrapper {
	display: grid;
	grid-template-rows: repeat(3, auto);
}
.input__label {
}
.input__error {
	color: red;
}
.input__error:empty {
	display: none;
}
